<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DNNEntities" connectionString="metadata=res://*/DNNEntities.DNNEntities.csdl|res://*/DNNEntities.DNNEntities.ssdl|res://*/DNNEntities.DNNEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server2;initial catalog=GlobalCMS;persist security info=True;user id=globalcms;password=test123$$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GCMS-ConnectionString-1" connectionString="Data Source=Server2;Initial Catalog=GlobalCMS;User ID=GlobalCMS;Password=test123$$;"/>
  </connectionStrings>
  <appSettings>
    <add key="PortalFolderPath" value="C:\FP4Design\Production.GCMS\"/>
    <add key="DataStorePath" value="C:\TestFolder\DataStore\"/>
  </appSettings>
</configuration>