<PortalIDSettings>
  <webSiteSettings>
    <SiteName website="localhost" portalId="2"></SiteName>
    <SiteName website="STAGING.CHEAPOAIR.COM" portalId="92"></SiteName>
    <SiteName website="STAGING.CHEAPOSTAY.COM" portalId="89"></SiteName>
    <SiteName website="STAGING.CHEAPOAIR.CA" portalId="93"></SiteName>
    <SiteName website="STAGING.CHEAPOAIR.CO.UK" portalId="91"></SiteName>
    <SiteName website="STAGING.HOTELPRICER.COM" portalId="81"></SiteName>
    <SiteName website="STAGING.ONETRAVEL.COM" portalId="95"></SiteName>
    <SiteName website="STAGING.CLUBMILES.COM" portalId="101"></SiteName>
    <SiteName website="WWW.CHEAPOAIR.COM" portalId="92"></SiteName>
  </webSiteSettings>
  <pageTrackingSettings>
    <FilePath>C:\PageTracker\</FilePath>
    <FileName>PageTrackingReport</FileName>
    <IncludeServerName>false</IncludeServerName>
    <TypeSEO>SEO</TypeSEO>
    <TypeSEM>SEM</TypeSEM>
    <TypeAdSales>ADSales</TypeAdSales>
    <InsertRecordsCount>1</InsertRecordsCount>
    <PageTrackerLogPath>C:\PageTracker\Logs\</PageTrackerLogPath>
    <MessagesInMemory>2</MessagesInMemory>
    <SearchEngines>google,yahoo,bing</SearchEngines>
    <KeywordIdentifiers>p=,q=,t=</KeywordIdentifiers>
    <FpAffiliateIdentifier>fpAffiliate</FpAffiliateIdentifier>
    <SubAffiliateIdentifier>fpSub</SubAffiliateIdentifier>
    <AddsalesIdentifier>adcode,linkcode</AddsalesIdentifier>
    <FileNameForLinkTracking>LinkTrackingReport</FileNameForLinkTracking>
    <PageTrackingAllowedForThesePartners>92,101,2</PageTrackingAllowedForThesePartners>
    <IgnorePageTrackingForThesePages>.asmx,.axd,.ashx,desktopmodules,default.aspx</IgnorePageTrackingForThesePages>
    <IgnoreIPAddressRanges>10.1.2.</IgnoreIPAddressRanges>
  </pageTrackingSettings>
</PortalIDSettings>

