<DKIProcedureSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ProcedureInfo>
    <CreatedBy>0</CreatedBy>
    <CreatedOn>0001-01-01T00:00:00</CreatedOn>
    <PortalId>0</PortalId>
    <ModuleId>0</ModuleId>
    <TabId>0</TabId>
    <ModifiedBy>0</ModifiedBy>
    <ModifiedOn>0001-01-01T00:00:00</ModifiedOn>
    <ProcedureName>usp_UserReviewGetCount</ProcedureName>
    <AliasName>ReviewCountForTag</AliasName>
    <ConnectionString>GCMS-ConnectionString-1</ConnectionString>
    <InputParams>
      <NameSqlDbTypePair>
        <Name>@PortalID</Name>
        <Type>VarChar</Type>
        <Internal>1</Internal>
        <Value>[#PortalId#]</Value>
      </NameSqlDbTypePair>
      <NameSqlDbTypePair>
        <Name>@IsReviewStatus</Name>
        <Type>Bit</Type>
        <Internal>1</Internal>
        <Value>1</Value>
      </NameSqlDbTypePair>
      <NameSqlDbTypePair>
        <Name>@ReviewTag</Name>
        <Type>VarChar</Type>
        <Internal>0</Internal>
        <Value></Value>
      </NameSqlDbTypePair>
      <NameSqlDbTypePair>
        <Name>@EmailAddress</Name>
        <Type>VarChar</Type>
        <Internal>1</Internal>
        <Value>null</Value>
      </NameSqlDbTypePair>
      <NameSqlDbTypePair>
        <Name>@ReviewTitle</Name>
        <Type>VarChar</Type>
        <Internal>1</Internal>
        <Value>null</Value>
      </NameSqlDbTypePair>
      <NameSqlDbTypePair>
        <Name>@CustomerReview</Name>
        <Type>VarChar</Type>
        <Internal>1</Internal>
        <Value>null</Value>
      </NameSqlDbTypePair>
    </InputParams>
    <OutputParams>
      <NameTypePair>
        <Name>Count</Name>
        <Type>Int</Type>
      </NameTypePair>
    </OutputParams>
  </ProcedureInfo>
</DKIProcedureSetting>