<ProcedureSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<ListProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopAirlinesBySalesGet</ProcedureName>
			<AliasName>Top Airlines</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopCityPairsBySalesGet</ProcedureName>
			<AliasName>Top City Pairs</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopDestinationsBySalesGet</ProcedureName>
			<AliasName>Top Destinations</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopDestinationsBySalesInStateGet</ProcedureName>
			<AliasName>Top Destinations In State</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopDestinationBySalesInCountryGet</ProcedureName>
			<AliasName>Top Destinations In Country</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopDestinationBySalesInRegionGet</ProcedureName>
			<AliasName>Top Destinations In Region</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_GetNearByCities</ProcedureName>
			<AliasName>Nearby Cities</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_GetNearByAirports</ProcedureName>
			<AliasName>Nearby Airports</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopAirlinesToDestinationBySalesGet</ProcedureName>
			<AliasName>Top Airlines To Destination</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopCityPairsByCityGet</ProcedureName>
			<AliasName>Top City Pairs To Destination</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopHotelsNearAirportGet</ProcedureName>
			<AliasName>Top Hotels Near Airport</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopSellingCarRentalCitiesGet</ProcedureName>
			<AliasName>Top Selling Car Rental Cities</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopSellingHotelCitiesGet</ProcedureName>
			<AliasName>Top City by Hotel(roomnights) Sale </AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopFaresByOriginsGet</ProcedureName>
			<AliasName>Top Fares By Origins</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>

		<ProcedureInfo>
			<ProcedureName>usp_TopFaresByDestinationGet</ProcedureName>
			<AliasName>Top Fares By Destinations</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_UserReviewGetByStatus</ProcedureName>
			<AliasName>Top User Reviews</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopDestinationsDomesticAndInternationalFaresGet</ProcedureName>
			<AliasName>Destination Fares</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopDestinationsDomesticAndInternationalFaresUnderAmount</ProcedureName>
			<AliasName>Fares Under Amount</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopNCityPairsGetByAmountOriginOrDestination</ProcedureName>
			<AliasName>Top City Pairs Fares Under Amount</AliasName>
			<ConnectionString>GCMS-ConnectionString-2</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_GetNearByCitiesToAirport</ProcedureName>
			<AliasName>Nearby Cities By Airport</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_GetNearByAirportsToCity</ProcedureName>
			<AliasName>Nearby Airports By City</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopDestinationsBySalesGetAlphabetically</ProcedureName>
			<AliasName>Top Destinations Alphabetically</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopDestinationsBySalesInStateGetAlphabetically</ProcedureName>
			<AliasName>Top Destinations In State Alphabetically</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopDestinationBySalesInCountryGetAlphabetically</ProcedureName>
			<AliasName>Top Destinations In Country Alphabetically</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopDestinationBySalesInRegionGetAlphabetically</ProcedureName>
			<AliasName>Top Destinations In Region Alphabetically</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopCountriesBySalesInRegion</ProcedureName>
			<AliasName>Top Countries In Region</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopStatesBySalesInCountry</ProcedureName>
			<AliasName>Top States</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopCountriesBySales</ProcedureName>
			<AliasName>Top Countries</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopCountriesBySalesInRegionOrderByBooking</ProcedureName>
			<AliasName>Top Countries In Region By Booking</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopStatesBySalesOrderByBooking</ProcedureName>
			<AliasName>Top States By Booking</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopCountriesBySalesOrderByBooking</ProcedureName>
			<AliasName>Top Countries By Booking</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_CityLocationsGetCountriesByRegionCode</ProcedureName>
			<AliasName>Get Countries by Region Code</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_CityLocationsGetStatesByCountryCode</ProcedureName>
			<AliasName>Get States by Country Code</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_CityLocationsGetCitiesByStateCode</ProcedureName>
			<AliasName>Directory - Cities in a State</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_CountryLocationsGetCountriesByRegionCode</ProcedureName>
			<AliasName>Directory - Countries in a Region</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_StateLocationsGetStatesByCountryCode</ProcedureName>
			<AliasName>Directory - States in a Country</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_RegionLocationsGetAll</ProcedureName>
			<AliasName>Directory - All Regions</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_CityLocationsGetByCountryCode</ProcedureName>
			<AliasName>Directory - Cities in a Country</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_GetNearByCitiesInStateHavingReviews</ProcedureName>
			<AliasName>Nearby Cities in State With Reviews</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_DestinationFaresGetInRegionCountryState</ProcedureName>
			<AliasName>Destination Fares - Region,Country And State</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_DestinationFaresGetInRegionCountryState</ProcedureName>
			<AliasName>Destination Fares - Region-Country-State</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopCityPairAirlinesFaresGet</ProcedureName>
			<AliasName>City Pair - Airlines,Fare and Duration</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopCarRentalsByAirportsGet</ProcedureName>
			<AliasName>Car Rentals By Airports</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopAirportParkingsGet</ProcedureName>
			<AliasName>Top Parkings At Airport</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopAirlinesForAirportsGet</ProcedureName>
			<AliasName>Top Airlines At Airport</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopAirportPairsForEachAirportGetByOrigin</ProcedureName>
			<AliasName>Top Airport Pairs By Source</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopAirportPairsForEachAirportGetByDestination</ProcedureName>
			<AliasName>Top Airport Pairs By Destination</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopAirportDomesticAndInternationalFaresGet</ProcedureName>
			<AliasName>Airport Fares</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_RawBestBuyAirFareAggregatedGetFaresUnderAmount</ProcedureName>
			<AliasName>Airport Fares Under Amount</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_RawBestBuyAirFareAggregatedGetAirportFaresInRegionCountryState</ProcedureName>
			<AliasName>Airport Fares - Region,Country And State</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_GetNearByCitiesInCountryHavingReviews</ProcedureName>
			<AliasName>Nearby Cities in Country With Reviews</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_UserReviewGetCount</ProcedureName>
			<AliasName>ReviewCountForTag</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopSearchedDestinationsFaresGetDomesticAndInternational</ProcedureName>
			<AliasName>Top Domestic And International Cities</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_DestinationFaresForMultipleCities</ProcedureName>
			<AliasName>Fares For Multiple Cities</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_AirportFunFactsGet</ProcedureName>
			<AliasName>AirportFunFacts</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_RawBestBuyAirfareAggregatedGetCityPairFares</ProcedureName>
			<AliasName>City Pair Fares</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_RawBestBuyAirfareAggregatedGetCityPairFares</ProcedureName>
			<AliasName>City Pair Fares</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopHotelsInCityGet</ProcedureName>
			<AliasName>Top Hotel Selling By City</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_CityPairFunFactsGet</ProcedureName>
			<AliasName>CityFunFacts</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_CityLocationsGetCityPairs</ProcedureName>
			<AliasName>Directory - City Pairs</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_CityLocationsGetCityPairTotalPages</ProcedureName>
			<AliasName>Directory - City Pairs Total Pages</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_RawBestBuyAirfareAggregatedGetFaresForCalendar</ProcedureName>
			<AliasName>Calender - Fares</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopHotelsByBookingGet</ProcedureName>
			<AliasName>Top Hotels Get By Booking</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_HotelsSearchDataGetTopSearchedCities</ProcedureName>
			<AliasName>Top Searched Cities - Hotels</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_HotelsSearchDataGetTopSearchedStates</ProcedureName>
			<AliasName>Top Searched States - Hotels</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_HotelsSearchDataGetTopSearchedCountries</ProcedureName>
			<AliasName>Top Searched Countries - Hotels</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_HotelsSearchDataGetTopSearchedRegion</ProcedureName>
			<AliasName>Top Searched Regions - Hotels</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopCityPairAirlinesFaresGetAirlineFares</ProcedureName>
			<AliasName>Airline Fares</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopNDomesticCityPairsGet</ProcedureName>
			<AliasName>Top Domestic City Pairs With Rank</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopNDomesticDestinationsGet</ProcedureName>
			<AliasName>Top Domestic Destinations With Rank</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopCarRentalsByAirportsGetByCities</ProcedureName>
			<AliasName>Top Car Rentals By City</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopCityPairSearchDatesGet</ProcedureName>
			<AliasName>City Pair Daily Searches</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>V2usp_UserReviewGetByStatus</ProcedureName>
			<AliasName>Top User Reviews Without Fallback</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_UserReviewGetByReviewTag</ProcedureName>
			<AliasName>Total User Reviews</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_TopAirlinesForAirportsGetByAirline</ProcedureName>
			<AliasName>Top Airports By Airline</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>
		<ProcedureInfo>
			<ProcedureName>usp_CityPairFunFactsOTGet</ProcedureName>
			<AliasName>City Pair OT Fun Facts</AliasName>
			<ConnectionString>GCMS-ConnectionString-1</ConnectionString>
		</ProcedureInfo>    
	</ListProcedureInfo>
</ProcedureSetting>