<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<ApplicationSettings>
		<BrandName>[#BrandName#]</BrandName>
		<PortalHostName>[#PortalHostName#]</PortalHostName>
		<LogMessagesToKeepInMemory>1</LogMessagesToKeepInMemory>
		<LogFileStoragePath>~\</LogFileStoragePath>
	</ApplicationSettings>
	<FileStoragePath>
		<!--Portal folder path for loading comman files and excel(Used in Excelpublisher and File Explorer module) -->
		<StorageDirPath>~\Portals\</StorageDirPath>
	</FileStoragePath>
	<CMSTextControllerSettings>
		<MaxAttemptsToReadWriteHTMLFile>2</MaxAttemptsToReadWriteHTMLFile>
	</CMSTextControllerSettings>
	<CMSFileControllerSettings>
		<ValidFileExtension>.txt,.html,.htm</ValidFileExtension>
	</CMSFileControllerSettings>
	<ModuleFileStorageSettings>
		<!--Storage area path for module contents -->
		<StorageDirPath>\Portals</StorageDirPath>
	</ModuleFileStorageSettings>
	<ModuleOutputCachedStoragePath>
		<!--Storage area path for module output cache(when writing cache to disk)-->
		<StoragePath>\ModuleCache</StoragePath>
	</ModuleOutputCachedStoragePath>
	<RSSFeedStorgaePath>
		<!--Storage area path for RSS feed HTTP response cache. Used in RSS module.-->

		<!--Currently not in use, should be always kept "false" for all the portals.-->
		<IsRSSUrlYahooPipe>False</IsRSSUrlYahooPipe>
	</RSSFeedStorgaePath>
	<RSSCacheDuration>
		<!--RSSFeed Http response cache duration in seconds.-->
		<cacheTime>3600</cacheTime>
	</RSSCacheDuration>
	<XMLSiteMapSettings>
		<!--Frequency to refresh xmlsitemap in miliseconds.-->
		<refreshTime>3600000</refreshTime>
		<!--Name of the server where xmlsitemap will be written.-->
		<ServerName>FP-WEB50</ServerName>
		<!--Disk Location for xml sitemap file-->
		<XMLSiteMapStoragePath>~\</XMLSiteMapStoragePath>
	</XMLSiteMapSettings>

	<LoggerMailSettings>
		<FromEmail>reviews@[#BrandName#]</FromEmail>
		<MailServer>10.1.2.27</MailServer>
		<ToEmail>jahmad@fareportal.com,binti@fareportal.com,vishal@fareportal.com</ToEmail>
		<ToAdminEmail></ToAdminEmail>
	</LoggerMailSettings>
	<UniqueGCMSResourceIdentifier>gcms-srv</UniqueGCMSResourceIdentifier>
	<!--Invalid strings in request DKI-->
	<InValidHTMLElements>iframe,script,src=,document.getelementbyid</InValidHTMLElements>
	<!--Template name on which all the required resources to be loaded to login to the application.-->
	<LoadDNNResourceFilesOnTabName>Home,TestPage</LoadDNNResourceFilesOnTabName>
	<!--Location where URL creation application will available, to launch url rule.-->
	<URLRewriterConsoleAppPath>~/App/URLWriterApp.exe</URLRewriterConsoleAppPath>
	<MaxPageSizeAllowed>50</MaxPageSizeAllowed>
	<!-- Turn on/off disk based xmlsitemap generation [True|False]-->
	<GenerateXMLSitemapOnRoot>False</GenerateXMLSitemapOnRoot>
	<!-- Configuration for turn on/off logging on cache performance-->
	<LogCachePerformance>True</LogCachePerformance>
	<PageOutputCacheSetting>0</PageOutputCacheSetting>

	<LocaleSettings>
		<EnableBrowserDetection>True</EnableBrowserDetection>
		<!-- Time is in minutes-->
		<CacheTime>360</CacheTime>
		<!-- Enable/Disable Locale -->
		<IsLocaleEnable>False</IsLocaleEnable>
	</LocaleSettings>
	<ReduceCacheTimeForModuleWhenNoContentFound>CMS- RSSFeed,CMS - SQL Module</ReduceCacheTimeForModuleWhenNoContentFound>
	<EclipseSettings>
		<ServicePath>http://eclipse.fareportal.com/DynamicForms/GetFormFeed</ServicePath>
		<QueryServicePath>http://eclipse.fareportal.com/DynamicForms/GetFormFeedByQueryId</QueryServicePath>
	</EclipseSettings>
	<UseCDN>False</UseCDN>
	<!--While loading the modules.
			True=>To Wait for main thread till either any of the modules to load or a specified time interval.
			False=>To Wait for main thread till all the loaded properly.-->
	<AsyncModuleLoad>False</AsyncModuleLoad>
	<PageOutputCache>True</PageOutputCache>
</configuration>
