<Competitors>
  <Competitor>Expedia</Competitor>
  <Competitor>Orbitz</Competitor>
  <Competitor>Cheaptickets</Competitor>
  <Competitor>Travelocity</Competitor>
  <Competitor>Priceline</Competitor>
  <Competitor>Skyscanner</Competitor>
  <Competitor>Cheapflights</Competitor>
  <Competitor>hotels</Competitor>
  <Competitor>bookit</Competitor>
  <Competitor>farecompare</Competitor>
  <Competitor>kayak</Competitor>
  <Competitor>yatra</Competitor>
  <Competitor>makemytrip</Competitor>
  <Competitor>lastminute</Competitor>
  <Competitor>ebookers</Competitor>
  <Competitor>cheapflights</Competitor>
  <Competitor>flightnetwork</Competitor>
  <Competitor>itravel2000</Competitor>
  <Competitor>flylink</Competitor>
  <Competitor>ctrip</Competitor>
  <Competitor>cleartrip</Competitor>
  <Competitor>tripcentral</Competitor>
  <Competitor>jetsettravel</Competitor>
  <Competitor>ezeego1</Competitor>
  <Competitor>travelguru</Competitor>
  <Competitor>webjet</Competitor>
  <Competitor>zuji</Competitor>
  <Competitor>Decolar</Competitor>
  <Competitor>Viajanet</Competitor>
  <Competitor>Submarino Viagens</Competitor>
  <Competitor>Hotel Urbano</Competitor>
  <Competitor>CVC</Competitor>
  <Competitor>Mundi Buscador de Viagens</Competitor>
  <Competitor>Americanas Viagens</Competitor>
  <Competitor>Rapi10</Competitor>
  <Competitor>Melhores Destinos</Competitor>
  <Competitor>Que Tal Viajar?</Competitor>
  <Competitor>Flight Center</Competitor>
  <Competitor>TaoBao JiPiao</Competitor>
  <Competitor>Jet Abroad</Competitor>
  <Competitor>Red Tag</Competitor>
  <Competitor>Hotwire</Competitor>
  <Competitor>Voyages Arabais</Competitor>
  <Competitor>Travelzoo</Competitor>
  <Competitor>Promovacances</Competitor>
  <Competitor>Voyages-sncf</Competitor>
  <Competitor>Voyage Priv</Competitor>
  <Competitor>GoVoyages</Competitor>
  <Competitor>eDream</Competitor>
  <Competitor>Opodo</Competitor>
  <Competitor>Jetcos</Competitor>
  <Competitor>Marmara</Competitor>
  <Competitor>ViaMichelin</Competitor>
  <Competitor>Thomson</Competitor>
  <Competitor>Thomas cook</Competitor>
  <Competitor>TravelRepublic</Competitor>
  <Competitor>Travelsupermarket</Competitor>
  <Competitor>First Choice</Competitor>
  <Competitor>AZDreams</Competitor>
  <Competitor>Ixigo</Competitor>
  <Competitor>Wotif</Competitor>
  <Competitor>cheapoair</Competitor>
  <Competitor>cheap O air</Competitor>
  <Competitor>cheap0air</Competitor>
  <Competitor>cheap 0 air</Competitor>
  <Competitor>fareportal</Competitor>
  <Competitor>fare portal</Competitor>
  <Competitor>farep0ortal</Competitor>
  <Competitor>fare p0rtal</Competitor>
  <Competitor>cheapo</Competitor>
</Competitors>