<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GXP.Core.GXPSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="GXP.Core.GXP" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DNNEntities" connectionString="metadata=res://*/DNNEntities.DNNEntities.csdl|res://*/DNNEntities.DNNEntities.ssdl|res://*/DNNEntities.DNNEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server2;initial catalog=GlobalCMS;persist security info=True;user id=globalcms;password=test123$$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="PortalFolderPath" value="C:\FP4Design\Production.GCMS\Portals\2"/>
    <add key="DataStorePath" value="C:\TestFolder\DataStore\"/>
  </appSettings>
  <userSettings>
    <GXP.Core.GXPSetting>
      <setting name="IsValidHTMLElement" serializeAs="String">
        <value>iframe,script,src=,document.getelementbyid</value>
      </setting>
      <setting name="RSSCacheDuration" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="BaseDataStorePath" serializeAs="String">
        <value>c:\TestFolder\</value>
      </setting>
      <setting name="MaxAttemptToReadWriteFiles" serializeAs="String">
        <value>0</value>
      </setting>
    </GXP.Core.GXPSetting>
    <GXP.Core.GXP>
      <setting name="IsValidHTMLElement" serializeAs="String">
        <value>iframe,script,src=,document.getelementbyid</value>
      </setting>
    </GXP.Core.GXP>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDealService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dms.fareportal.com/DMSService/DealService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDealService"
        contract="ExternalServices.IDealService" name="BasicHttpBinding_IDealService" />
    </client>
  </system.serviceModel>
</configuration>