<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GXP.Core.GXP" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DNNEntities" connectionString="metadata=res://*/DNNEntities.DNNEntities.csdl|res://*/DNNEntities.DNNEntities.ssdl|res://*/DNNEntities.DNNEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server2;initial catalog=GlobalCMS;persist security info=True;user id=globalcms;password=test123$$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="PortalFolderPath" value="C:\FP4Design\Production.GCMS\Portals\2"/>
    <add key="DataStorePath" value="C:\TestFolder\DataStore\"/>
  </appSettings>
  <userSettings>
    <GXP.Core.GXP>
      <setting name="IsValidHTMLElement" serializeAs="String">
        <value>iframe,script,src=,document.getelementbyid</value>
      </setting>
    </GXP.Core.GXP>
  </userSettings>
</configuration>